In [5]:
import pandas as pd
import pymongo

df = pd.read_csv('train.csv')

df.head()

   id     Sex  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
0   0    male   36   189.0    82.0      26.0       101.0       41.0     150.0
1   1  female   64   163.0    60.0       8.0        85.0       39.7      34.0
2   2  female   51   161.0    64.0       7.0        84.0       39.8      29.0
3   3    male   20   192.0    90.0      25.0       105.0       40.7     140.0
4   4  female   38   166.0    61.0      25.0       102.0       40.6     146.0

In [6]:
df['Sex'].value_counts()

Sex
female    375721
male      374279
Name: count, dtype: int64

In [3]:
data = df.to_dict(orient='records')

In [ ]:
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = "mongodb://localhost:27017/"

In [4]:
client = pymongo.MongoClient(CONNECTION_URL)
db = client[DB_NAME]
collection = db[COLLECTION_NAME]

In [5]:
rec = collection.insert_many(data)